@font-face {
  font-family: "work-sans";
  src: url("./assets/fonts/WorkSans-VariableFont_wght.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* width 200 padding x margin x, width 200 padding o margin o */
  font-family: "work-sans", monospace;
}

:root {
  --White: hsl(0, 0%, 100%);
  --lightPink: hsl(275, 100%, 97%);
  --grayishPurple: hsl(292, 16%, 49%);
  --darkPurple: hsl(292, 42%, 14%);
}

body {
  background-color: var(--lightPink);
  display: flex;
  flex-direction: column;
}

li {
  border-top: 1.5px rgb(243, 240, 240) solid;
  display: flex;
  justify-content: space-between;
  list-style: none;
  align-items: center;
  font-size: 0.94rem;
  padding: 1.3rem 0;
  font-weight: 600;
  color: var(--darkPurple);
  cursor: pointer;
}

main {
  background-color: var(--White);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
  border-radius: 10px;
  margin: -12% 0 0 50%;
  transform: translate(-50%);
  z-index: 1;
  width: 45svw;
}

h1 {
  font-size: 55px;
  color: var(--darkPurple);
}

h2 {
  font-size: 0.94rem;
  color: var(--darkPurple);
  font-weight: 600;
}

h2:hover {
  color: purple;
}

picture > img {
  width: 100vw;
  position: relative;
}

p {
  padding-bottom: 1.3rem;
  color: var(--grayishPurple);
  display: none;
}
